<!DOCTYPE html>
<html lang="en"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Grid gallery</title>
  <link rel="stylesheet" href="/grid-gallery.css" />

  <link rel="stylesheet" href="styles.css">

</head>
<body>

    <header>
      <div class="container logo-nav-container"> 
        <div class="logo">
          <img src="/templates/img/logo2.png" alt="logo de la compañia">
          
      
      <h1>Turismo Provincial</h1>
      <nav>
        <ul>
          <li><a href="#">Buenos Aires</a></li>
          <li><a href="#">Salta</a></li>
          <li><a href="#">Corrientes</a></li>
        </ul>
      </nav>
    </div>
      </div>
        

      </header>
     <div class="main"> 
       <div class="grid-container">
 
         <div class="grid-item" style=" background-image: url('/templates/img/barriolabocaba.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/barriolaboca2.png');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/bosquesdepalermoba.jpg');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/carnavalesslp.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/chicharron2.png');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/esterosdelibera.jpg');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/quebradadelasconchassalta.png');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/vallescalchaquies.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/ctdraldesalta.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/cascadasdealemania.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/elrosedalba.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/empedradocts.JPG');"> </div>
 
         
      </div>

    </div>

    <footer class="footer">
     <div class="pie de pagina">
      <p> Destinos 
        <hr>
        agencia de viajes</p>

     </div>
    </footer>
</body>
</html>
