<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <!-- icono de pagina -->
    <link rel="icon" href="/templates/img/Destinos.ico">
    <!-- links de css para el navbar, footer y para la pagina en especifico -->
    <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/corrientes.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/grid-galley.css">
</head>
<body>
    <h1>TURISMO PROVINCIAL</h1>
    <nav class="encabezado">
        <div class="logo"><img src="/templates/img/logo2.png" alt="logo"></div>
    </nav>
    <div class="barra">
        <table>
            <ul class="navegacion"> 
              <li class="categoria"><a href="/home.html">Inicio</a></li>
              <li class="categoria"><a href="/templates/Corrientes.html">Corrientes</a></li>
              <li class="categoria"><a href="/templates/sanluis.html">San Luis del Palmar</a></li>
              <li class="categoria"><a href="/templates/Salta.html">Salta</a></li>
            </ul> 
        </table>     
    </div>

     <div class="main"> 
       <div class="grid-container">
 
         <div class="grid-item" style=" background-image: url('/templates/img/barriolabocaba.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/barriolaboca2.png');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/bosquesdepalermoba.jpg');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/carnavalesslp.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/chicharron2.png');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/esterosdelibera.jpg');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/quebradadelasconchassalta.png');" > </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/vallescalchaquies.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/ctdraldesalta.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/cascadasdealemania.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/elrosedalba.png');"> </div>
 
         <div class="grid-item" style="background-image: url('/templates/img/empedradocts.JPG');"> </div>
 
         
      </div>
        
    </div>
    <div class="varios">
        <button onclick="window.location.href='../paginas/galeria.html'">subir</button>
     </div>
     <footer>
        <div class="contenidoFoter">
           <div class="filaFooter">
              <div class="columnaIzquierda">
                 <div class="logoFooter">
                       <a href="/home.html"><img  src="/templates/img/Destinos.png" alt="logo"></a>
                                <div class="otro">
                                     <a href="/home.html"> <img class="logoMovilFooter" src="/templates/img/logo2.png" alt="logoMovil"></a>
                                </div>
                            </div>
                            <section class="contenedor">
                                <div class="textoColumnaIzquierda">
                                    <h2 class="titulo">Necesitas ayuda?</h2>
                                    <p>Si necesitas más información, comunícate al</p>
                                    <p>+54 3794 487562</p>
                                </div>
                            </section>       
              </div>
                        <div class="columnaMedia">
                            <h2 class="titulo">Paginas Oficiales de Turismo de la provincia</h2>
                            <div class="infoFooter">
                                    <lu class="linksFooter"><a href="https://turismo.buenosaires.gob.ar/es">Buenos Aires</a></lu>
                                    <lu class="linksFooter"><a href="https://corrientes.tur.ar/">Corrientes</a></lu>
                                    <lu class="linksFooter"><a href="https://www.saltaturismo.com.ar/">Salta</a></lu>
                            </div>
                        </div>

                        <div class="columnaDerecha" >
                            <h2 class="titulo" >Redes Sociales</h2>
                            <div class="tercerColumna">
                                <div class="redesFooter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
                                </div>                                    
                            </div>
                        </div>
               </div>
           </div>
        </div>
       
    </footer> 
        <span class="copyrigth">&copy; 2024 GRUPO 18. Todos los derechos reservados.</span>
</body>
</html>