<!DOCTYPE html>
<html lang="en"> 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,initial-scale=1.0">
    <title>Grid gallery</title>
  <link rel="stylesheet" href="/grid-gallery.css" />
  

</head>
<body>
    <div class="grid-container">

        <div class="grid-item" style=" background-image: url('/templates/img/barriolabocaba.png');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/barriolaboca2.png');" > </div>

        <div class="grid-item" style="background-image: url('/templates/img/bosquesdepalermoba.jpg');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/carnavalesslp.png');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/chicharron2.png');" > </div>

        <div class="grid-item" style="background-image: url('/templates/img/esterosdelibera.jpg');" > </div>

        <div class="grid-item" style="background-image: url('/templates/img/quebradadelasconchassalta.png');" > </div>

        <div class="grid-item" style="background-image: url('/templates/img/vallescalchaquies.png');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/ctdraldesalta.png');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/cascadasdealemania.png');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/elrosedalba.png');"> </div>

        <div class="grid-item" style="background-image: url('/templates/img/empedradocts.JPG');"> </div>

        
    </div>
</body>
</html>