body{
   width: 100%;
   background-image: url(/img/3731533_1971537.jpg);
   background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
 }
 
.content{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #14213D;
    color: #efefef;
    border-radius: 1%;
}
footer{
    width: 100%;
    height: 35%;
    background-color: #000000;
    color: #FCA311;
    display: block;
    font-size: 20px;
    margin: 0;
}
 nav{
    width: 100%;
    height:40%;
    background-color: #000000 ;  
 }
 h1{
    color:#efefef;
    display: flex;
    justify-content: center;
    background-color: #14213D;
    margin:0;
   
 }
.logo img{
    height: 10%;
    width: 10%;
    margin: 1%; 
}

.barra{
    background-color: #efefef;
    display: flex;
    justify-content: center;
    border-top: 5px double #000000; /* Borde superior de 1px sólido de color gris claro */
    border-bottom: 5px double #000000; /* Borde inferior de 1px sólido de color gris claro */
}

.navegacion {
    width: 80%;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #000000;
    }

.categoria{
    display: block;
    justify-content: center;
    margin-top: 1%;
    margin-bottom:1%;
    margin-inline: 5%;
    font-size: 25px;
}

a{ text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit; /* Heredar el color del texto del elemento padre */
}
.categoria:hover{
    background-color: #FCA311;
    color: #000000;
}

.footer1{
    display:block ;
    width: 100%;
    height: 30px;
    border-bottom:1px solid #FCA311;
    background-color: #000000;

    color: #FCA311;
}
.copyrigth{
    height: 25px;
    display: flex;
    justify-content: center;
    margin:0;
}