* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/templates/img/3731533_1971537.jpg);
    /* background-color: #14213d; */
    font-family: Arial, sans-serif;
}

.Bienvenido-container {
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
}

.Bienvenido-container h1 {
    font-size: 2.5rem;
    color: #333;
}

h2{
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #14213d;
    color: #fca311;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e5e5e5;
    border: 1px solid #000000;
    color:#14213d
}