<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
    <link rel="icon" href="/templates/img/Destinos.ico">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="navbarDestinos.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <h1>TURISMO PROVINCIAL</h1>
    <nav class="encabezado">
        <div class="logo"><img src="/templates/img/logo2.png" alt="logo"></div>
    </nav>
    <div class="barra">
        <table>
            <ul class="navegacion"> 
              <li class="categoria"><a href="../home.html">Inicio</a></li>
              <li class="categoria"><a href="Corrientes.html">Corrientes</a></li>
              <li class="categoria"><a href="sanluis.html">San Luis del Palmar.</a></li>
              <li class="categoria"><a href="Salta.html">Salta</a></li>
            </ul> 
        </table>    
    </div>
    <div class="content">
        <br>
        <h2>Cosas en comun</h2>
        <p>Buenos Aires, Salta y Corrientes son tres provincias argentinas con características y atractivos únicos, pero también tienen varios aspectos que las unen y las hacen parte de la rica diversidad cultural y geográfica del país
        </p>
    </div>
    <br>
    <br>
    <section class="provincias">
        <br>
            <div class="bloque">
                <div class="cuadros" onclick="location.href='#Historia';">
                    <img src="../templates/img/secciones/1.jpg" alt="Historia">
                </div>
                <div class="cuadros" onclick="location.href='#turismoReligioso';">
                    <img src="/templates/img/secciones/4.jpg" alt="TurismoReligioso">
                </div>
                <div class="cuadros" onclick="location.href='#que-hacer';">
                    <img src="/templates/img/secciones/6.jpg" alt="Qué Hacer">
                </div>
                <div class="cuadros" onclick="location.href='#Gastronomia';">
                    <img src="/templates/img/secciones/5.jpg" alt="Gastronomia">
                </div>
            </div>
    </section> <br><br>
    <div class="content">
        <section id="Historia">
            <h2>Historia y Patrimonio</h2>
            <li><u>Patrimonio Histórico:</u> San Luis del Palmar, Salta y Corrientes tienen importantes sitios históricos y arquitectónicos. San Luis del Palmar cuenta con edificios emblemáticos como la Iglesia Nuestra Señora del Rosario, Salta tiene la histórica Catedral Basílica y el Cabildo, y Corrientes tiene la Iglesia de la Cruz de los Milagros y el Convento de San Francisco.</li>
            <li><u>Museos y Monumentos:</u> Las tres provincias tienen museos y monumentos que preservan y exhiben su historia y cultura. El Museo Histórico de San Luis del Palmar, el Museo de Arqueología de Alta Montaña (MAAM) en Salta y el Museo Histórico Provincial en Corrientes son ejemplos destacados.</li>
        </section>
        <section id="turismoReligioso">
            <h2>Turismo Religioso</h2>
            <li><u> San Luis del Palmar:</u> En San Luis del Palmar, la Iglesia Nuestra Señora del Rosario es un importante centro de peregrinación y un símbolo de la fe católica en la región. La iglesia alberga una imagen de la Virgen del Rosario, que se considera milagrosa por muchos fieles.</li>
            <li><u>Corrientes:</u> En Corrientes, la Basílica de Nuestra Señora de Itatí es un importante centro de peregrinación y un símbolo de la fe católica en la región. La basílica alberga una imagen de la Virgen de Itatí, que se considera milagrosa por muchos fieles.</li>
            <li><u>Salta:</u> La Catedral de Salta, también conocida como la Catedral Basílica de Salta, es un impresionante edificio religioso en el corazón de la ciudad de Salta. Construida en el siglo XIX, la catedral es conocida por su arquitectura neorrenacentista y su importancia histórica y religiosa en la región.</li>
        </section>
        <section id="que-hacer">
            <h2>Explora y Descubre: Qué Hacer en San Luis del Palmar, Corrientes y Salta</h2>
            <li><u>San Luis del Palmar:</u> Ofrece actividades al aire libre como pesca y navegación por los ríos Paraná y Uruguay. También puedes disfrutar de la música folclórica y festivales locales.</li>
            <li><u>Corrientes:</u> Conocida por su música folclórica y festivales como el Chamamé. Ofrece actividades al aire libre como pesca y navegación por los ríos Paraná y Uruguay.</li>
            <li><u>Salta:</u> Con paisajes montañosos impresionantes y una rica historia colonial. En la ciudad de Salta, puedes visitar el Cerro San Bernardo y el Museo de Arqueología de Alta Montaña.</li>
        </section>
        <section id="Gastronomia">  
            <h2>Gastronomía</h2>
            <li><u>Cocina Regional:</u> Cada provincia tiene su propia gastronomía, pero todas comparten una pasión por la carne y platos tradicionales. San Luis del Palmar es famoso por su chipá y platos basados en pescado de río, Salta por sus empanadas salteñas y Corrientes por su chipá y platos basados en pescado de río.</li>
            <li><u>Vinos y Bebidas:</u> Las tres provincias tienen una tradición vinícola y de bebidas regionales. San Luis del Palmar tiene su propia versión del tereré, una infusión similar al mate pero consumida fría, Salta es conocida por sus vinos de altura, especialmente en Cafayate, y Corrientes tiene su propia versión del tereré.</li>
        </section>
        
            
    
    <div class="varios">
        <button onclick="window.location.href='/templates/destinos.html'">subir</button>
     </div>
     <footer>
        <div class="contenidoFoter">
           <div class="filaFooter">
              <div class="columnaIzquierda">
                 <div class="logoFooter">
                       <a href="/home.html"><img  src="/templates/img/Destinos.png" alt="logo"></a>
                                <div class="otro">
                                     <a href="/home.html"> <img class="logoMovilFooter" src="/templates/img/logo2.png" alt="logoMovil"></a>
                                </div>
                            </div>
                            <section class="contenedor">
                                <div class="textoColumnaIzquierda">
                                    <h2 class="titulo">Necesitas ayuda?</h2>
                                    <p>Si necesitas más información, comunícate al</p>
                                    <p>+54 3794 487562</p>
                                </div>
                                
                            </section>
                            
              </div>
                        <div class="columnaMedia">
                            <h2 class="titulo">Paginas Oficiales de Turismo de la provincia</h2>
                            <div class="infoFooter">
                                <lu class="linksFooter"><a href="https://corrientes.tur.ar/">Corrientes</a></lu>
                                <lu class="linksFooter"><a href="https://www.saltaturismo.com.ar/">Salta</a></lu>
                                <lu class="linksFooter"><a href="https://www.instagram.com/turismosanluisdelpalmar/">San luis del Palmar</a></lu>
                            </div>
                        </div>

                        <div class="columnaDerecha" >
                            <h2 class="titulo" >Redes Sociales</h2>
                            <div class="tercerColumna">
                                <div class="redesFooter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
                                </div>                                
                            </div>
                        </div>
               </div>
           </div>
        </div>
       
    </footer> 
        <span class="copyrigth">&copy; 2024 GRUPO 18. Todos los derechos reservados.</span>
</body>
</html>
