tr {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.provincias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloque {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Incrementa el espacio entre los cuadros */
}

.cuadros {
  width: 280px; /* Ajusta el ancho a un tamaño mayor */
  height: 280px; /* Ajusta la altura a un tamaño mayor */
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cuadros:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cuadros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
