<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/galeria1.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/home.css">
    <!-- <link rel="stylesheet" href="css/corrientes.css"> -->
    <title>Turismo Salta</title>
    <link rel="icon" href="/templates/img/Destinos.ico">
</head>
<body>
    <header>
        <h1>TURISMO PROVINCIAL</h1>
        <nav class="encabezado">
            <div class="logo"><img src="/templates/img/logo2.png" alt="logo"></div>
        </nav>
    </header>

        <div class="barra">
            <table>
                <ul class="navegacion"> 
                  <li class="categoria"><a href="../home.html">Inicio</a></li>
                  <li class="categoria"><a href="Corrientes.html">Corrientes</a></li>
                  <li class="categoria"><a href="sanluis.html">San Luis del Palmar</a></li>
                  <li class="categoria"><a href="Salta.html">Salta</a></li>
                </ul> 
            </table>     
        </div>
        <div class="content">
        <!-- <section id="seccion-con-fondo">
            <div class="contenido"> -->
                <h2>BIENVENIDOS A SALTA</h2>
           
        </section>
        <section id="texto">
            <p>
                Está ubicada al noroeste del país, su capital es la homónima Salta, 
                limitando al norte con la provincia de Jujuy y con los departamentos de Potosí y Tarija
                , en Bolivia, al este con las provincias de Formosa y Chaco, al sur con las de Santiago del Estero, 
                Tucumán y Catamarca, y al oeste con la Región de Antofagasta en Chile. 
            </p>
        </section>
        

        <h2>ALGUNOS SITIOS QUE PUEDES VISITAR</h2>
        <div class="galleria">
            <div class="imagen-grupo">
                <h3>Salta Capital</h3>
                <div class="descripcion">Salta es una ciudad del noroeste de Argentina, 
                    capital de la provincia . Se encuentra ubicada en el sector norte del Valle de 
                    Lerma. Su superficie aproximada es de 120 km². Es también la ciudad más poblada de 
                    la provincia, la segunda del NOA y la séptima del país. Se encuentra ubicada al este 
                    de la cordillera de los Andes, en el Valle de Lerma, a 1187 m s. n. m.</div>
                <div class="imagen">
                    <img src="../templates/img/salta/Cabildo.jpg" alt="Imagen 1">
                </div>
                <div class="imagen">
                    <img src="../templates/img/salta/centro.jpg" alt="Imagen 2">
                </div>
                <div class="imagen">
                    <img src="../templates/img/salta/San Francisco.jpg" alt="Imagen 3">
                </div>
                <div class="descripcion">Ubicación de Salta Capital</div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115903.41005611097!2d-65.43062865!3d-24.7960848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3a35151b7f9%3A0xa5cd992cd587f206!2sSalta!5e0!3m2!1ses-419!2sar!4v1716766103841!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
                </div>
            </div>
            <div class="imagen-grupo">
                <h3>Cafayate y Cachi</h3>
                <div class="descripcion">Ubicados en la región de los Valles Calchaquíes, 
                    para llegar hasta ellos se deberá recorrer impresionantes caminos rodeados de montañas 
                    y cerros pertenecientes a la precordillera de los Andes. Una vez en Cafayate se podrá 
                    admirar las increíbles formaciones provocadas por la erosión del viento y del agua, 
                    como el Anfiteatro, Los Castillos y la Garganta del Diablo. En el camino a Cachi 
                    también se podrá disfrutar de un espectáculo de paisajes diversos: selvas,
                     climas de altura, cardones, cóndores y picos nevados de más de 6.000 msnm.</div>
                <div class="imagen">
                    <img src="../templates/img/salta/Cachi.jpg" alt="Imagen 4">
                </div>
                <div class="imagen">
                    <img src="../templates/img/salta/Cafayate.jpg" alt="Imagen 5">
                </div>
                <div class="imagen">
                    <img src="../templates/img/salta/cafayate1.jpg" alt="Imagen 5">
                </div>
                <div class="descripcion">Ubicación de Cafayate</div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385636.9914805949!2d-66.14259325477104!3d-26.10446389569434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941f311369c3a61b%3A0x540e61c61f3a5d0c!2sCafayate%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1716766497266!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
                </div>
            </div>
            <div class="imagen-grupo">
                <h3>Parque nacional los Cardones</h3>
                <div class="descripcion">Se encuentra cerca de la localidad de Payogasta en la región 
                    centro-sur de la provincia de Salta en Argentina. Dista aproximadamente 100 km de la 
                    ciudad de Salta y fue creado el 20 de noviembre de 1961 y posee 64 117 ha 
                    (de las cuales 10 902 ha se proponen como reserva nacional) 
                    en un ambiente de sierras secas, con altitudes de entre los 2600 m s. n. m</div>
                <div class="imagen">
                    <img src="../templates/img/salta/cardones.jpg" alt="Imagen 4">
                </div>
                <div class="imagen">
                    <img src="../templates/img/salta/cuesta.jpg" alt="Imagen 5">
                </div>
                <div class="imagen">
                    <img src="../templates/img/saltacuesta1.jpg" alt="Imagen 6">
                </div>
                <div class="imagen">
                    <img src="../templates/img/salta/recta.jpg" alt="Imagen 6">
                </div>
                <div class="descripcion">Ubicación de Parque nacional los Cardones</div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28872.610888390987!2d-65.97093332135252!3d-25.234352899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941eac26e7a4ab1b%3A0x9c14cdb285563153!2sParque%20Nacional%20los%20Cardones!5e0!3m2!1ses-419!2sar!4v1716766558654!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
                </div>
            </div>
        </div>
</div>
    <br>
    <div class="varios">
        <button onclick="window.location.href='/templates/salta.html'">subir</button>
     </div>
     <footer>
        <div class="contenidoFoter">
           <div class="filaFooter">
              <div class="columnaIzquierda">
                 <div class="logoFooter">
                       <a href="/home.html"><img  src="/templates/img/Destinos.png" alt="logo"></a>
                                <div class="otro">
                                     <a href="/home.html"> <img class="logoMovilFooter" src="/templates/img/logo2.png" alt="logoMovil"></a>
                                </div>
                            </div>
                            <section class="contenedor">
                                <div class="textoColumnaIzquierda">
                                    <h2 class="titulo">Necesitas ayuda?</h2>
                                    <p>Si necesitas más información, comunícate al</p>
                                    <p>+54 3794 487562</p>
                                </div>
                            </section>       
              </div>
                        <div class="columnaMedia">
                            <h2 class="titulo">Paginas Oficiales de Turismo de la provincia</h2>
                            <div class="infoFooter">
                                <lu class="linksFooter"><a href="https://corrientes.tur.ar/">Corrientes</a></lu>
                                <lu class="linksFooter"><a href="https://www.saltaturismo.com.ar/">Salta</a></lu>
                                <lu class="linksFooter"><a href="https://www.instagram.com/turismosanluisdelpalmar/">San luis del Palmar</a></lu>
                            </div>
                        </div>

                        <div class="columnaDerecha" >
                            <h2 class="titulo" >Redes Sociales</h2>
                            <div class="tercerColumna">
                                <div class="redesFooter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
                                </div>                                    
                            </div>
                        </div>
               </div>
           </div>
        </div>
       
    </footer> 
        <span class="copyrigth">&copy; 2024 GRUPO 18. Todos los derechos reservados.</span>
  </body>
</html>