<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
    <!-- icono de pagina -->
    <link rel="icon" href="/templates/img/Destinos.ico">
    <!-- links de css para el navbar, footer y para la pagina en especifico -->
    <link rel="stylesheet" href="css/home.css">
      <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/corrientes.css">
</head>
<body>
    <h1>TURISMO PROVINCIAL</h1>
    <nav class="encabezado">
        <div class="logo"><img src="/templates/img/logo2.png" alt="logo"></div>
    </nav>
    <div class="barra">
        <table>
            <ul class="navegacion"> 
              <li class="categoria"><a href="../home.html">Inicio</a></li>
              <li class="categoria"><a href="buenosAires.html">Buenos Aires</a></li>
              <li class="categoria"><a href="Corrientes.html">Corrientes</a></li>
              <li class="categoria"><a href="sanluis.html">San Luis del Palmar</a></li>
              <li class="categoria"><a href="Salta.html">Salta</a></li>
            </ul> 
        </table>     
    </div>
    <div class="content">
        <h2>San Luis del Palmar</h2>
            <p class="indented"> San Luis del Palmar es una ciudad argentina, capital del departamento San Luis del Palmar, provincia de Corrientes.Actualmente es un centro urbano con bastante crecimiento tanto poblacional como edilicio, cuenta con escuelas primarias y secundaria, un hospital zonal y un centro de atención para enfermos mentales.</p>
            <p class="idented">Está muy vinculada con la Ciudad de Corrientes, puesto que dista de ella tan solo 24 kilómetros y es muy probable que en pocos años se integre al conurbano que forma el Gran Corrientes debido al gran crecimiento edilicio que presenta ese núcleo hacia esta localidad.</p>
            <p class="indented">San Luis del Palmar, tiene sus orígenes en un paisaje de abundantes palmeras que hasta podría decirse, que forma parte de ensueños como postales únicos sobre la faz de la tierra, además se ve acompañado de tupidos montes, una gran variedad de fauna y una flora muy exuberante que surge a raíz de los dos cauces de ríos que no por casualidad encierra la zona urbanizada del departamento. Dichos ríos nacen en el departamento mismo, debido a la abundancia de espejos de agua (lagunas, esteros y cañadas) que posee este territorio. Que tal vez fue el motivo que ayudó los primeros asentamientos</p>
             <p class="indented">Lo que se deduce es que lleva el nombre de San Luis en honor a la imagen de San Luis Rey de Francia y del palmar, por la gran abundancia de palmeras en todo el departamento.</p>
           
        <h2>Ubicación</h2>       
        <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14154.657242879997!2d-58.56741109709962!3d-27.510813520728888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9445457fae83944b%3A0xd54c1311e7586b56!2sSan%20Luis%20del%20Palmar%2C%20Corrientes!5e0!3m2!1ses-419!2sar!4v1716698584406!5m2!1ses-419!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
<br><br>
    <section class="provincias">
            <div class="bloque">
                <div class="cuadros" onclick="location.href='#Historia';">
                    <img src="../templates/img/secciones/1.jpg" alt="Historia">
                </div>
                <div class="cuadros" onclick="location.href='#turismoReligioso';">
                    <img src="/templates/img/secciones/4.jpg" alt="TurismoReligioso">
                </div>
                <div class="cuadros" onclick="location.href='#Gastronomia';">
                    <img src="/templates/img/secciones/2.jpg" alt="Gastronomia">
                </div> 
                <div class="cuadros" onclick="location.href='#carnaval';">
                    <img src="/templates/img/secciones/carnaval.jpg" alt="carnaval">
                    <div class="cuadros" onclick="location.href='#naturaleza';">
                    <img src="/templates/img/secciones/3.jpg" alt="naturaleza">
                </div>
                </div>
            </div>
    </section>
    <br><br>
    <section id="Historia">
        <div class="content">
            <div class="contenido">
                <h3>Historia de San Luis Del Palmar</h3>
                <div class="fila">
                    <div class="columna izquierda">
                        <p class="indented">Una convención integrada por el Intendente juro la flamante Carta Orgánica que guiariá los pasos de toda la ciudadanía de San Luís del Palmar. Fijando allí la fecha fundacional de la localidad de San Luís del Palmar el 31 de mayo, basándose en antecedentes históricos indiscutibles.</p>
                        <p class="indented"> Muchas localidades de Corrientes como de otras partes de nuestra Argentina, no tienen fecha fundacional exacta, por no haber nacido las mismas a partir de un hecho concreto de decisión política formal y en cambio han tomado el día de su Patrono como el de máxima celebración anual. </p>   
                        <p class="indented"> Los estatuyentes locales han decidido celebrar su cumpleaños el 31 de Mayo, tomando como fecha la creación de la parroquia por parte del obispo de Buenos Aires, Benito de Lué y Riega, quien en esa fecha en el año 1806 lo determinó Por entonces igual decisión el 10 de febrero de ese año creando también la villa y el curato de Santa Rita de la Esquina.</p>
                        <p class="indented"> San Luís del Palmar nunca contó con fecha determinada de fundación, aunque el momento que podría considerarse, siempre sostuve en mis columnas, es el 31 de mayo de 1806 cuando el obispo de Buenos aires, Benito Lué y Riega, expidió un auto creando el curato de San Luis del Palmar, cuyo templo quedó terminado en 1828.</p>
                        <p>Lleva el nombre de su patrono San Luis y "Del Palmar", que por otra parte fue la denominación tradicional, por los bosques de palmares que caracterizan la zona.</p>  
                        <p class="indented">Hasta la sanción de la Constitución Provincial de 1864 el departamento se denominó “Del Palmar”. Nacen en su planta urbana dos caminos, uno a “Herlitzka” y el otro a “Ingenio Primer Correntino”.
                        Antes de eso el Cabildo de Corrientes había decidido establecer en el paraje “El Palmar” una escuela cuyo maestro sería Urbano Araujo. Ese mismo cuerpo dispuso en 1779 la construcción de una capilla y en 1793 fueron nombrados jueces comisionarios.</p>   
                        <p class="indented">El gobernador Pedro Ferré demarcó sus límites en 1826 y los ejidos del pueblo fueron ampliados en 1857 y en 1885, declarándose Villa a la población por ley de 1873.</p>
                    </div>
                    <div class="columna derecha">
                      <img src="../templates/img/corrientes/iglesia San luis.jpg" alt="iglesiaSanLuis">
                    </div>
                </div> 
                <section id="turismoReligioso">
                  <div class="fila">
                        <h4>San luis "Rey de Francia"</h4>
                        <div class="columna izquierda">
                            <p class="indented"> Cada 25 de agosto se realizan las festividades de su santo patrono y por el cual la localidad lleva ese nombre,San Luis de Francia nació en Poissy Beavais, Francia, el 15 de abril de 1215, hijo de Luís VIII y Blanca de Castilla, quienes se casaron con 13 y 12 años respectivamente. Tuvieron 7 hijos y 6 murieron por diferentes epidemias que azotaron a Francia. San Luís fue rey de Francia desde 1226 hasta su muerte en 1270 y fue santificado el 25 de agosto de 1270 y canonizado en 1297 por el papa Bonifacio VIII-.</p>
                            <p class="indented">Luis IX fue un católico extremadamente devoto. En su época, era conocido por su caridad con los mendigos y compasión con los criminales. Aprobó leyes que castigaban la blasfemia con la mutilación de la lengua y los labios. En 1230, prohibió toda forma de usura. Durante su cautividad en Egipto, leía el Oficio Divino todos los días. Tras la disputa de París en 1240, ordenó quemar 12 000 copias del Talmud y otros libros judíos. Era popular entre los franceses, aunque algunos contemporáneos lo tachaban de ser un «monje rey». Es el único rey canonizado de Francia, donde hay muchas calles, plazas y lugares que reciben su nombre.</p>
                            <p class="indented">San Luis del Palmar es un pueblo con una ferviente devoción en el catolicismo, esto se manifiesta en cada una de las celebraciones religiosas de la provincia </p>
                        </div>
                        <div class="columna derecha">
                            <img src="../templates/img/corrientes/sanLuisSanto.jpg" alt="iglesiaSanLuis"> 
                        </div>
             </section>
             <section>
                <div class="fila">
                    <h4>Perigrinacion de San luis a Itatí</h4>
                    <div class="columna izquierda">
                       <p class="indented"> Con la imagen de “San Luisito” como guía de una extensa caravana de fieles, parte cada 13 de Julio,  la Peregrinación de San Luis del Palmar rumbo a la Basílica de Itatí, que este año estrena su Declaración de “Patrimonio Cultural Inmaterial de la Provincia de Corrientes” -Ley Nº 6560-. El presidente de la Cámara de Diputados Pedro Cassani, –como todos los años-, formó parte del tradicional acto de “bendición de peregrinos” en la parroquia de la localidad homónima, oportunidad en que, junto al Padre Epifanio Barrios y demás legisladores presentes, se descubrió una placa conmemorativa a la dicha ley.</p>
                       <p class="indented">Así, y luego de dos años de no realizarse a causa de la pandemia, desde la Parroquia “San Luis Rey de Francia” partió fervorosa una nutrida columna de fieles rumbo  la “casa de mamá María”, donde el 16 de Julio, serán las ceremonias centrales en honor a un aniversario más de su Coronación Pontificia -Aniversario 122-.
                       La citada ley 6560 fue promovida en 2020 por el Poder Ejecutivo, recibiendo el acompañamiento de ambas Cámaras y sancionada en mayo de 2021, pero que recién pudo ser visibilizada formalmente este 2022.</p>
                       <p class="indented">De hecho, durante los dos años de pandemia la grey católica sanluiseña había adoptado la  denominada “peregrinación espiritual”, modalidad que consistía en venerar una imagen de la Virgen de Itatí al lado de la parroquia rogando por una pronta reedición presencial de la marcha hacia la Basílica. En ese tiempo, los poderes Ejecutivo y Legislativo trabajaron para valorizar la tradicional peregrinación declarándola “patrimonio cultural inmaterial”, distinción que por ley pudo ser materializada y estrenada este miércoles con la partida de la 112.ª caravana  desde San Luis del Palmar rumbo a Itatí.</p>
                    </div>
                    <div class="columna derecha">
                        <img src="../templates/img/corrientes/peregrinos3.jpg" alt="peregrinos">
                    </div>
                    <div class="columna Izquierda">
                        <h5>Patrimonio</h5>
                        <p class="indented">La ley 6560 tiene como  finalidad “revalorizar la peregrinación como una manifestación de fe, única en su naturaleza, y en consecuencia cuidar y mantener la identidad de un pueblo, su modo de pensar y de sentir colectivo, que lleva más cien de años recorriendo este tradicional sendero de fe. Asimismo, preservar el modo de trasladarse de los peregrinos (carretas, caballos), de vestirse (vestuario tradicional), de alimentarse (guiso del peregrino y el avío de cada familia)  y de expresarse natural y espontáneamente (hablando en guaraní, con chamamé y sapucai)”, tal como lo señala los fundamentos del expediente presentado por el Ejecutivo, oportunamente.</p>
                        <p class="indented">Consta, en efecto, “que recién se comienza a contabilizar desde el año 1900, cuando en la ciudad de Corrientes era coronada la Virgencita de Itatí, pero la manifestación cultural data de mucho antes, cuando las familias sanluiseñas se organizaban desde los diferentes parajes de la localidad para peregrinar hacia la “Madre de Itatí”, inmersas en la cristiana idea de caminar en comunidad de hermanos hacia el objeto de su devoción, para pedir bendiciones y agradecer favores recibidos. Los promeseros, denominación que reciben las personas que van a dar gracias a la Virgen por favores recibidos, hacen distinguiéndose con cintas de colores cruzando todo el cuerpo con mantas o mantillas del color de la capa de la Virgen”.</p>
                        <p class="indented">“Según testimonios de vecinos, en las primeras peregrinaciones, al no haber rutas o caminos vecinales, la imagen de San Luisito era llevada al hombro de la gente. Al tiempo se sumaron carretas tiradas por bueyes, luego por caballos y montados por jinetes. Los caminantes eran acompañados de faroleros. A esto se agrega que soportaron las inclemencias del tiempo, lluvias, heladas, intensos calores y caminos intransitables. Pero con el transcurrir del tiempo la fe aumentaba día a día y se reforzaba en cada peregrinación”, se agrega.</p>
                     </div>
                    <div class="columna derecha">
                        <img src="../templates/img/corrientes/peregrinos2.jpg" alt="iglesiaSanLuis"> 
                    </div>
             </section>
       </div>
    </div>   
</section>

    <div class="varios">
        <button onclick="window.location.href='/templates/sanluis.html'">subir</button>
     </div>
     <footer>
        <div class="contenidoFoter">
           <div class="filaFooter">
              <div class="columnaIzquierda">
                 <div class="logoFooter">
                       <a href="/home.html"><img  src="/templates/img/Destinos.png" alt="logo"></a>
                                <div class="otro">
                                     <a href="/home.html"> <img class="logoMovilFooter" src="/templates/img/logo2.png" alt="logoMovil"></a>
                                </div>
                            </div>
                            <section class="contenedor">
                                <div class="textoColumnaIzquierda">
                                    <h2 class="titulo">Necesitas ayuda?</h2>
                                    <p>Si necesitas más información, comunícate al</p>
                                    <p>+54 3794 487562</p>
                                </div>
                            </section>       
              </div>
                        <div class="columnaMedia">
                            <h2 class="titulo">Paginas Oficiales de Turismo de la provincia</h2>
                            <div class="infoFooter">
                                    <lu class="linksFooter"><a href="https://turismo.buenosaires.gob.ar/es">Buenos Aires</a></lu>
                                    <lu class="linksFooter"><a href="https://corrientes.tur.ar/">Corrientes</a></lu>
                                    <lu class="linksFooter"><a href="https://www.saltaturismo.com.ar/">Salta</a></lu>
                            </div>
                        </div>

                        <div class="columnaDerecha" >
                            <h2 class="titulo" >Redes Sociales</h2>
                            <div class="tercerColumna">
                                <div class="redesFooter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
                                </div>                                    
                            </div>
                        </div>
               </div>
           </div>
        </div>
       
    </footer> 
        <span class="copyrigth">&copy; 2024 GRUPO 18. Todos los derechos reservados.</span>
  </body>
</html>